.image-container {
    @media screen and (min-width: 1024px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 49% 49%;
        justify-content: center;

        &[hidden] {
            display: none;
        }

        div {
            width: calc(100% - 0.5rem);
        }

    }
}